<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>画像</th>
            <th>ユーザーID</th>
            <th>名前</th>
            <th>フォロー</th>
        </tr>
    </thead>
    <tbody>
        <% customer.each do |customer| %>
            <% if customer.name != "guestuser" %>
            <tr>
                <td>
                <%= link_to public_customer_path(customer.id) do %>
                    <%= image_tag customer.get_profile_image, size: '50x50' %>
                <% end %>
                </td>
                <td><%= customer.id %></td>
                <td><%= customer.name %></td>
                <% unless admin_signed_in? %>
                <td>
                    <% if current_customer.name != "guestuser" %>
                        <%= render 'public/relationships/btn', customer: customer %>
                    <% else %>
                        <h6 class="text-success">ゲストユーザーはフォロー機能を使用できません。ログインしてください。</h6>
                    <% end %>
                </td>
                <% end %>
            </tr>
            <% end %>
        <% end %>
    </tbody>
</table>